= form_with model: @article, local: true do |form|
  .field
    = form.label :title
    = form.text_field :title
    %ul
      - @article.errors.full_messages_for(:title).each do |message|
        %li= message
  .field
    = form.label :body
    = form.text_area :body
    %ul
      - @article.errors.full_messages_for(:body).each do |message|
        %li= message
  .button
    = form.submit